* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    h1{
        width: auto;
        height: 25px;
        text-align: center;
        justify-content: center;
        margin-top: 5vh;
        font-size: large;
        font-size: 22px;
        color: rebeccapurple;
        font-style: italic;
    }

    h2{
        width: auto;
        height: 25px;
        text-align: center;
        justify-content: center;
        font-size: 30px;
        margin-top: 5vh;
        font-size: large;
        font-size: 22px;
        color: rebeccapurple;
        font-style: italic;
    }

    article{
        margin-top: 20px;
        font-size: large;
        font-size: 15px;
        width: auto;
        height: 900px;
        text-align: center;
        justify-content: center;
        margin-top: 4vh;
        background-color: rgb(247, 243, 199);
        margin-left: 10vw;
        margin-right: 10vw;
    }

    p{
        margin: 6px;
        font-size: large;
        font-size: 30px;
        width: auto;
        justify-content: center;
        /* font-style: oblique; */
        align-items: center;
        margin-top:auto;
        margin-left: 20vw;
        margin-right: 20vw;
    }